.main-content {
  padding-top: 80px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.responsive-buttons > button,
.responsive-buttons > .dropdown {
  width: 180px;         
  text-align: center;
}

@media (max-width: 576px) {
  .responsive-buttons > button,
  .responsive-buttons > .dropdown {
    width: 100%;         
  }
}
